<div class="row justify-content-between mt-1">

    <!-- player stats column (left) -->
    <div class="col-md-2 col-sm-3 col-6 border p-3 bg-white">

        <!-- player stats dynamically built using id's with jQuery -->
        <h6 class="border-bottom"><b>Player Stats:</b></h6>
        <div class="text-center" id="player-stats">
            <h6 id="player-name" class="border-bottom"><%= name %></h6>
            <h6 id="player-health" class="border-bottom"><%= health %></h6>
            <h6 id="player-attack" class="border-bottom"><%= gold %></h6>
        </div>

    </div>

    <!-- game stats column (right) -->
    <div class="col-md-2 col-sm-3 col-6 border p-3 bg-white">

        <h6 class="border-bottom"><b>Things:</b></h6>
        <div class="text-center" id="game-things">
            <h6 id="current-level" class="border-bottom">Level / Room #</h6>
            <h6 id="current-items" class="border-bottom">Items in Inventory</h6>
            <h6 id="current-time" class="border-bottom">Level Time?</h6>
        </div>

    </div>

    <!-- end stats row -->
</div>