<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <!-- Intro song for the game -->
    <!-- <audio id="myAudio" controls autoplay hidden>
        <audio controls></audio>
        <source src="../media/conv-stScreen.mp3" type="audio/mp3">
    </audio> -->

    <!-- Background and form -->
    <section class="hero">

        <div class="hero-inner">

            <img src="../images/logo/logo.png">
            <h2><%- type_of_loss %></h2>

            <div class="container-fluid">

                <a href="/" class="btn btn-warning" role="button">PLAY AGAIN</a>

            </div>

        </div>

    </section>



    <%- include('partials/scripts') %>
</body>

</html>