<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>
<body>

    <!-- Intro song for the game -->
    <audio id="myAudio" controls autoplay hidden>
        <audio controls></audio>
        <source src="../media/conv-stScreen.mp3" type="audio/mp3">
    </audio>

    <!-- Background and form -->
    <section class="hero">

        <div class="hero-inner">

            <img src="../images/logo/logo.png">
            <h2 class="shadow">ENTER A NAME TO BEGIN</h2>

            <div class="container-fluid">

                <form class="login-user" action="/login" method="post">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Player Name</span>
                        </div>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Sir Lancelot">
                    </div>

                    <button type="submit" class="btn btn-outline-secondary">Start Game</button>


                </form>

                <br>

                <h2 class="shadow">HOW TO WIN:</h2>
                <h5 class="text-white shadow">Make it into the dungeon without loosing all of your health or spending all of your gold!</h5>

            </div>

        </div>
        
    </section>



    <%- include('partials/scripts') %>
</body>

</html>