/* :root {
  --font: rgba(0, 0, 0, 0.65);
  --secondary-font: rgb(220, 124, 124);
} */

/* html {
  background-image: url(/img/background.png);
  height: 100%;
} */

/* body {
  background-color: rgba(210, 219, 226, 0.575);
  color: var(--font);
  min-height: 100%;
  margin: 0;
} */

/* h1 {
  margin-top: 500px;
} */

.wrapper {
  width: 50%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

#gamediv {
  height: 290px
}

/* #textarea {
  height: 75px
} */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

/* .menutextsmall {
  font-size: 5px
} */

/* .bg-cstm {
  background-image: url("/img/hallway.jpg");
  background-size: 100%;
} */

#topTitle {
  color: grey;
  text-shadow: 3px 3px 5px #000;
  font-family: 'Lexend Zetta', sans-serif;
  background-color: rgb(107, 63, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border:2px solid black;
  border-radius: 10px/30px;
}